* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* hamburger */
ul .nav-menu{
    height: 50%;

}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 4px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:900px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-link{
        position: relative;
        left: 100%;
    
    }
  
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #1b1b1b;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;

    }
  

}

/* navbar */

nav {
    z-index: 1;
    display: flex;
    height: 60px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

nav .logo {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    
}

nav .menu-btn i{
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

/* ul - li */

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 10px 5px;
}


nav ul li a.nav-link{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
@media(max-width:1000px){
    nav ul li a.nav-link{
      font-size: 15px;
    }
    .about-text h3 {
        font-size: 20px;
    }
}
nav ul li a.nav-link:hover{
    color: #8a49ff;
}
/* moving elements */
.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-1 {
    width: 60px;
    height: 60px;
    border: 2px solid #8a49ff;
    /* background-color: #8a49ff; */
    opacity: 0.8;
    right: 10%;
    bottom: 50%;
    border-radius: 20%;
    animation: spin 10s linear infinite;
}

.effect-2 {
    height: 100px;
    width: 100px;
    right: 51%;
    top: 15%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}
.effect-2 div {
    width: 1px;
    background-color: #4dd0e1;
    height: 100%;
}

.effect-3 {
    width: 50px;
    height: 50px;
    border: 2px solid #4dd0e1;
    left: 10%;
    bottom: 20%;
    border-radius: 20%;
    animation: spin 10s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }

}
.head-text{
    font-size: 50px;
}

@media (max-width:800px){
    .effect-2{
        right: 20%;
        top: 3%;
        width: 80px;
        height: 80px;
    }
    .effect-1 {
        width: 40px;
        height: 40px;
        top: 70%;
    }
    .effect-3 {
        width: 40px;
        height: 40px;
        top: 30%;
    }
    .head-text{
        font-size: 40px;
    }
    
}
@media (max-width:400px){
    .head-text{
        font-size: 30px;
    }
}

/* about section */
.about {
    background-color: #111;
}
.about-text {
    color: #f2f2f2;
    padding: 83px;
    /* padding-top: 87px; */
    margin-top: 87px;
    text-align: center;
}
.about-text h3 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 300;
}
.about-text p{
    font-size: 18px;
}
@media (max-width:600px){
    .about-text h3 {
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 300;
    }
     p .text-hide{
        display: none;
    
    }
   
}
/* tech-stack */
.tech h1{
   padding: 20px;
   font-size: 40px;
}

.rounded-square{
    border-radius: 10px;
    box-shadow: 9px 8px 9px #1b1b1b;
    transition: 1s ease-in-out; 

}
.text{
    color: #e0e0e0;
    font-weight: 400;
    margin: 10px;
}
.rounded-square:hover{
      cursor: pointer;
      transform: scale(1.5);
    
}

/* project section  */


.project {
    background-color: #111;
}

.proj a {
    text-decoration: none;

}
.project h1{
    font-size: 40px;
}




/* contact */

.contact {
    color: #f2f2f2;
    text-decoration: none;
    padding: 35px;
    cursor: pointer;

}
.contact h1 {
    padding: 20px;
    font-size: 40px;
}
.contact a{
    text-decoration: none;
}

/* footer */

.icon-decor {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.social-icon{
    text-decoration: none;
}


/* media  */

@media (max-width: 1000px){
nav {
    padding: 0 40px 0 50px;
}
nav {
    display: flex;
    height: 50px;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}
}


@media (max-width: 920px){
  
nav .logo {
        font-size:26px;
}

nav .menu-btn i{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
nav ul {
    position: fixed;
    top: 50px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}

nav ul li.nav-link {
    width: 100%;
    margin: 20px 0;
}

nav ul li a.nav-link {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
/* nav ul li a.nav-link.active, */
nav ul li a.nav-link:hover {
    background: none;
     color: #a9146a;
  
     
}


.footer-text p{
    padding: 20px;
} 
.rounded-square{
    width: 50%;
    height: 50%;
}
}

@media (max-width:650px){
    .rounded-square{
       /* display: none; */
        width: 20%;
        height: 20%;
        margin: 10px;

    }
  
  .flex-box{
    display: flex;
    flex-wrap: wrap;
   

  }
}